<div class="tracker-container">
  <h1 class="text-3xl font-bold underline">Track Your Package</h1>
  <input
    type="text"
    [(ngModel)]="packageId"
    placeholder="Enter Package ID"
    (keyup.enter)="trackPackage()"
  />
  <button (click)="trackPackage()">Track</button>

  <div *ngIf="packageDetails">
    <h2 >Package Details</h2>
    <p><strong>ID:</strong> {{ packageDetails.package_id }}</p>
    <p><strong>Description:</strong> {{ packageDetails.description }}</p>

    <div *ngIf="deliveryDetails">
      <h2>Delivery Details</h2>
      <p><strong>Status:</strong> {{ deliveryDetails.status }}</p>
    </div>

  </div>

  <div *ngIf="errorMessage !== ''">
    <h2>Error</h2>
    <p><strong>Error:</strong> {{ errorMessage }}</p>
  </div>

  <div id="map" style="height: 400px;"></div>

</div>
