<div class="p-20 mx-auto my-0 text-center">
  <div>
    <h1 class="text-3xl font-bold">Admin Portal</h1>
  </div>

  <input
    type="text"
    [(ngModel)]="packageId"
    placeholder="Enter Package ID"

  />
  <input type="number" [(ngModel)]="packageId" name="weight" placeholder="Weight" required>
    <input type="number" [(ngModel)]="packageId" name="width" placeholder="Width" required>
    <label class="flex items-center gap-2 input input-bordered">
      Description
      <input type="textarea" [(ngModel)]="packageId" name="description" placeholder="Description" required>
    </label>



  <div class="my-5">
    <button class="mx-2 btn btn-info" (click)="viewCreatePackage()">Create Package</button>
    <button class="mx-2 btn btn-warning" (click)="viewCreateDelivery()">Create Delivery</button>
  </div>

  <div *ngIf="errorMessage !== ''">
    <h2>Error</h2>
    <p><strong>Error:</strong> {{ errorMessage }}</p>
  </div>

  <div *ngIf="(packageList && errorMessage === '') || (deliveryList && errorMessage === '')" class="min-h-screen hero bg-base-200">
    <div class="flex-col hero-content lg:flex-row lg:items-start">

      <div *ngIf="packageList">
        <h2>Package List</h2>
        <ul class="text-left">
          <li *ngFor="let package of packageList" (click)="viewPackageDetail(package)" class="w-full max-w-sm my-4 shadow-2xl card bg-base-100 shrink-0">
            <div>
              <div class=" card-body">
                <p><strong>ID:</strong> {{ package.package_id }}</p>
                <p><strong>Description:</strong> {{ package.description }}</p>
                <p><strong>Active Delivery ID:</strong> {{ package.active_delivery_id }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div *ngIf="deliveryList">
        <h2>Delivery List</h2>
        <ul class="text-left">
          <li *ngFor="let delivery of deliveryList" (click)="viewDeliveryDetail(delivery)" class="w-full max-w-sm my-4 shadow-2xl card bg-base-100 shrink-0">
            <div>
              <div class=" card-body">
                <p><strong>ID:</strong> {{ delivery.delivery_id }}</p>
                <p><strong>Status:</strong> {{ delivery.status }}</p>
                <p><strong>Package ID:</strong> {{ delivery.package_id }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
